.table {
  padding: 0 5%;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  padding: 8px;
  text-align: left;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4CAF50; */
  /* color: white; */
}

.sort:hover{
    cursor: pointer;
}


.button_box {
  margin: 3% 0;
}

.button {
  padding: 8px 10px;
  border: 1px solid rgb(114, 111, 111);
  background-color: #fff;
  border-radius: 2px;
}



@media only screen and (max-width: 780px) {
  .mobile_view {
    display: none;
  }
}
